<p style="color: green"><%= notice %></p>

<h1>Exercises</h1>

<div id="exercises">
  <% @exercises.each do |exercise| %>
    <%= render exercise %>
    <p>
      <%= link_to exercise.name, exercise %>
    </p>
  <% end %>
</div>

<%= link_to "New exercise", new_exercise_path %>
